/* Body */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
}

/* Header */
.weather-header {
  background-color: #343a40;
}

.weather-header h1 {
  margin: 0;
  color: white;
}

/* Container */
.container-fluid {
  margin: 0 auto;
  padding: 0 10px;
  display: flex; /* Use flexbox to create a two-column layout */
  justify-content: space-between; /* Space evenly between the two columns */
}

/* Left Side */
.left-side {
  max-width: 300px; /* Adjust the width of the left side as needed */
}

.form {
  max-width: 100%;
  margin-bottom: 10px;
}

.list-group {
  margin: 0;
  padding: 0;
}

.list-group div {
  cursor: pointer;
  padding: 5px;
  background-color: #e9ecef;
  margin-bottom: 5px;
}

.list-group div:hover {
  background-color: #ced4da;
}

/* Right Side */
.right-side {
  flex-grow: 1; /* Allow the right side to grow and take up remaining space */
}

/* Weather Cards */
.card {
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Responsive Design */
@media (max-width: 768px) {
  .container-fluid {
    flex-direction: column; /* Stack columns on smaller screens */
  }

  .left-side,
  .right-side {
    max-width: 100%; /* Full width on smaller screens */
  }
}
