/* Header */
.weather-header {
  background-color: #001f3f; /* Dark blue background */
  text-align: center;
  padding: 10px;
  color: white; /* Font color for the header */
}

/* Body */
body {
  font-family: 'Arial', sans-serif;
  background-color: white; /* White background */
  color: #001f3f; /* Dark blue text */
  margin: 0;
}

.weather-header h1 {
  margin: 0;
}

/* Container */
.container-fluid {
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

.left-side,
.col-lg-9 {
   max-width: 100%;
}



.form {
  max-width: 100%;
  margin-bottom: 10px;
}

.list-group {
  margin: 0;
  padding: 0;
}

.list-group div {
  cursor: pointer;
  padding: 10px;
  background-color: #001f3f; /* Dark blue background */
  color: white; /* White text */
  margin-bottom: 5px;
}

.list-group div:hover {
  background-color: #003366; /* Slightly darker blue on hover */
}


.col-lg-9 {
  flex-grow: 1;
}


/* Search Answer */
#search-answer {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #001f3f; /* Dark blue background */
  color: white; /* White text */
}

/* Forecast Cards Container */
#forecast-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Forecast Cards */
.card {
  flex: 0 0 calc(33.3333% - 20px); /* Adjust the width of each card */
  margin: 10px;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  color: navy;
  border-radius: 5px;
  text-align: center;
}

.card p {
  margin: 0; }


.card p {
  margin: 0;
}


.card h2 {
  color: white;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container-fluid {
    flex-direction: column;
  }

  .left-side,
  .col-lg-9 {
    max-width: 100%;
  }
}
