/* Body */
body {
  font-family: 'Arial', sans-serif;
  background-color: #001f3f; /* Dark blue background */
  color: white;
  margin: 0;
}

/* Header */
.weather-header {
  background-color: #001f3f; /* Dark blue background */
  text-align: center;
  padding: 10px;
}

.weather-header h1 {
  margin: 0;
}

/* Container */
.container-fluid {
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

/* Left Side */
.left-side {
  max-width: 300px;
}

.form {
  max-width: 100%;
  margin-bottom: 10px;
}

.list-group {
  margin: 0;
  padding: 0;
}

.list-group div {
  cursor: pointer;
  padding: 10px;
  background-color: #dcdcdc; /* Light grey background */
  color: #000; /* Black text */
  margin-bottom: 5px;
}

.list-group div:hover {
  background-color: #c0c0c0; /* Slightly darker grey on hover */
}

/* Right Side */
.right-side {
  flex-grow: 1;
}

/* Search Answer */
#search-answer {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #001f3f; /* Dark blue background */
}

/* Forecast Cards */
.card {
  margin: 10px;
  padding: 10px;
  background-color: #001f3f; /* Dark navy/phthalo green background */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.card h2 {
  color: white;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container-fluid {
    flex-direction: column;
  }

  .left-side,
  .right-side {
    max-width: 100%;
  }
}
